alembic==1.8.1
click==8.0.3
Flask==2.0.2
Flask-Migrate==3.1.0
flask-peewee==3.0.4
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
gunicorn==20.1.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.2.1
MarkupSafe==2.0.1
marshmallow==3.17.0
packaging==21.3
peewee==3.14.8
psycopg2==2.9.3
pyparsing==3.0.9
SQLAlchemy==1.4.31
Werkzeug==2.0.2
wtf-peewee==3.0.3
WTForms==3.0.1
zipp==3.8.1
