<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% extends "base.html" %}

{% block main %}

<body>
    <div class="container-fluid">
        <form action="{{ url_for('teams') }}", class="form" method="post" name="TeamsDropDown">
            {{ form.hidden_tag() }}
            <div class="row">
                <h4>Please select a team!</h4>
                <div class="col">
                    {{ form.team() }}
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}